body{
    background-color: whitesmoke;
    background-image: url("../blue-snow/blue-snow.png");
  }
.block-main{
    background-color: rgb(255, 255, 255, 0.3); 
    margin: 0 auto; 
    width: 1100px;
    margin-right: 5px;
    margin-left: 25px;
}
.main-intro{
    font-family: 'Times New Roman', Times, serif; 
    margin: auto auto; 
    font-size: larger;
}
.my-photo{
    width: 210px; 
    height: 266px; 
    margin-left: 10px;
}
.my-name{
    font-size: x-large;
}
.language_block{
    padding-right: 20px;
    padding-top: 10px;
    margin: 0 0;
    text-align: right;
}
.block{
    margin: 0 auto;
    width: 93%;
}
.divider {
    height: 1px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    margin-bottom: 9px;
}
.normal{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 150%;
    margin: 0 auto;
    width: 96%;
}
.section-title {
    margin-bottom: 0px;
    font-size: larger;
    font-weight: bold;
    color: #609;
    margin: 0 auto;
    width: 100%;
}
.sub-title{
    font-style: italic; 
    margin: 0 auto; 
    width: 98%; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;
}
.table{
    width: 95%;
    margin: auto auto;
    font-family:Arial,Helvetica, sans-serif; 
    font-size: medium;
    padding: 0;
}
.td{
    vertical-align: top;
    text-align: center;
    width: 60px;
}
.note{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small; 
    color: grey; 
    font-style: italic; 
    width: 95%; 
    margin: 0 auto;
}
.footer{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small; 
    color: grey; 
    text-align: center;
    height: 25px;
}
a:link {
    color:#0072BD;
    text-decoration:none;
}
a:hover{
    color:#0072BD;
    text-decoration:underline;
}
a:visited {
    color:#0072BD;
    text-decoration:none;
}